import("Matrix","HaploSim")
useDynLib(pedigree)
export("add.Inds","calcG","calcInbreeding","countOff",
       "blup","calcG","countGen","gblup","calcInbreeding",
       "makeA","makeAinv","trimPed","orderPed")
